*{
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}

body{
    background-color: black;
    color: white;
    min-height: 100vh;
    margin: 0;
    position: relative;
    
}
body::after {
    content: '';
    display: block;
    height: 50px;
    /* Set same as footer's height */
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
nav .navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}
nav .navbar ul li{
    display: inline-block;
    margin-left: 20px;
    /* list-style: square; */
}
li a{
    color: rgb(173, 168, 168);
    text-decoration: none;
}
li a:hover{
text-decoration: underline;
color: aquamarine;
}
nav .navbar .font-icon a{
    color: white;
    margin-right: 20px;
}
nav .navbar .font-icon a i:hover{
color: aquamarine;
}

.content {
    margin: 20px 20px 20px 20px;
    margin-top: 5%;
    align-items: center;
    float: left;
    width: 40%;
    margin-left: 10%;
    height: 100px;
}
.content h1{
    font-size: 40px;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 600;
    align-items: center;
    line-height: 1.3;
}
.content p{
    color: rgb(106, 107, 109);
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.watch{
    height: 300px;
    width: 250px;
}
.image {
    float: right;
    width: 30%;
    margin-top: 100px;
    align-items: center;
    margin-right: 30px ;    
}

form {
    background: grey;
    border-radius: 25px;
    position: relative;
}
input {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 20px;
    padding: 8px 40px 8px 20px;
    border: none;
    box-shadow: 0 5px 8px 3px black;
    outline: none;
}
/* input:focus{
    outline: none;
} */
button{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 17px;
}
button i {
    color: rgb(93, 94, 95);
}
button i:hover {
    color: rgb(162, 163, 163);
}

.container-one {
    background: papayawhip;
    width: 100%;
    margin-top: 30%;
    /* position: absolute; */
    /* bottom: 0;
    /* left: 0;
    z-index: 15; */ */
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.row .footer-col h4{
    color: rgb(87, 14, 188);
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: underline;
    /* background-color: aliceblue; */
    padding: 0px 10px;
}
.footer-col .social {
    margin-left: 20px;
}
.footer-col .social a{
    margin: auto;
    padding: 10px;
    color: rgb(141, 168, 9);
}
.footer-col .social a:hover{
    color: white;
}
.footer-col ul a {
    color: rgb(141, 168, 9);
}
.footer-col ul a:hover{
    color: blue;
}